<h1>About me!</h1>
config.assets.initialize_on_precompile = false
<%= stylesheet_link_tag "about.scss" %>

<hr>

<body>
<div class="row">
  <div cass="col-md-4">
    <%= image_tag "profile.jpg", width:300, alt: "profile image"  %>
    
    </div>
  <div cass="col-md-8">
    <p>Hi, My name is Caelen Austyn Travis, I like to go by Austyn. I was born in Malaysia kuala lumpur, I am 22 years old and currently living in utah. I use to work in Collections until I decided to go to school. I quit my full time job to decate my life to learning to code. </p>


  </div>
  

</div>

</body>


